@import "../../assets/styles/colors";

.container {
  height: 100vh;
  width: 100%;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;

  .illustration_container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .illustration {
    max-width: 50%;

    @media (max-width: 990px) {
      max-width: 100%;
    }
  }
}
